// Variables
$hover_blue: #2980b9;


body {
	font-family: Helvetica;
	font-size: 14px;
	color: #2c3e50;
}

a {
	color: inherit;
	text-decoration: none;
}

.page-title {
	font-size: 3em;
	text-align: center;
	margin: 5vh 0;
}

.search {
	width: 80%;
	margin: 5vh auto 10vh;
	input {
		display: block;
		width: 100%;
		box-sizing: border-box;
		font-size: 2em;
		padding: 0.5em 1em;
		text-transform: capitalize;
		background-image: url('../img/search.png');
		background-position: 95% center;
		background-repeat: no-repeat;
		background-size: 32px 32px;
		transition: background-position .5s;
		&:valid,
		&:focus {
			background-position: 120% center;
		}
	}
}

.content-main {
	width: 100%;
	overflow: hidden;
	font-size: 14px;
	background-color: #ecf0f1;
	min-height: 100vh;
}

.large-wrapper {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.btn {
	display: block;
	margin-bottom: 1em;
	font-size: 1em;
	.back {
		padding-left: 30px;
		display: inline-block;
		line-height: 30px;
		position: relative;
		font-weight: bold;
		&::before {
			content: '';
			position: absolute;
			background-image: url('../img/back.png');
			background-size: 24px 24px;
			background-position: left center;
			width: 30px;
			height: 30px;
			background-repeat: no-repeat;
			left: 0;
			top: 0;
			transition: left .5s;
		}
		&:hover {
			color: $hover_blue;
			&::before {
				left: -5px;
			}
		}
	}
}

.story {
	font-size: 1em;
	line-height: 1.5;
	p {
		margin-bottom: 1em;
	}
	a {
		color: $hover_blue;
		@include decorator;
	}
	img {
		display: none;
	}
}

.row {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: space-between;
	margin-bottom: 2em;
	box-sizing: border-box;
	background-color: #fff;
	figure {
		flex: 0 0 30%;
		text-align: center;
		img {
			display: inline-block;
			transition: transform .5s;
			transform: scale(1);
		}
		a {
			display: block;
			width: 100%;
			height: 100%;
			overflow: hidden;
			&:hover {
				img {
					transition-duration: 3s;
					transform: scale(1.3);
				}
			}
		}
	}

	.info-box {
		flex: 0 0 65%;
		margin: auto;
	}

	@media(max-width: 768px) {
		flex-flow: row wrap;
		padding: 5%;
		.info-box,
		figure {
			flex: 0 0 100%;
		}

		.info-box {
			margin-top: 40px;
			h2 {
				text-align: center;
			}
		}
	}
}

.photo-list {
	.info-box {
		h2 {
			font-size: 1.7em;
			margin-bottom: 1em;
			transition: color .3s;
			a:hover {
				color: $hover_blue;
			}
		}

		.meta-info {
			display: flex;
			flex-flow: row nowrap;
			align-items: stretch;
			justify-content: space-between;

			a {
				@include decorator(currentColor);
			}
		}
	}
}

.single-image {
	background-color: #fff;
	padding: 3% 2%;
	box-sizing: border-box;

	h1 {
		font-size: 2em;
		transition: color .3s;
		margin-bottom: 1em;
		line-height: 1.3;
		a:hover {
			color: $hover_blue;
		}
	}

	.meta-info {
		margin-bottom: .5em;
		font-size: 1.2em;
		line-height: 1.5;
		a {
			color: $hover_blue;
			@include decorator;
		}
		div {
			display: inline-block;
		}
	}

	.tags {
		line-height: 1.3;
		a {
			display: inline-block;
			margin-right: 1em;
			color: $hover_blue;
			@include decorator;
		}
	}
	.row {
		margin-top: 2em;
	}
	@media(max-width: 768px) {
		padding: 5%;
		.row {
			padding: 0;
		}
	}
}