@mixin smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font ($fz, $ls) {
  letter-spacing: $ls * $fz / 1000;
  font-size: $fz;
}

@mixin valign {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@mixin nobreak {
	column-break-inside:avoid;
	display: table;
}

@mixin spacing {
	letter-spacing:normal;
	word-spacing:normal;
}

@mixin placeholder ($color: #000) {
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}

@mixin decorator($color: currentColor) {
  position: relative;
  padding-bottom: 0;
  text-decoration: none;
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 1px;
    background-color: $color;
    transition: width .4s;
  }
  &::after {
    left: auto;
    right: 0;
  }
  &:hover {
    &::after,
    &::before {
      width: 0;
    }
  }
}



/* Clearfix
*******************************/
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}
.clear {
	clear:both;
}