<div class="large-wrapper photo-list" ng-controller="MainController">
	<div class="search">
		<input type="text" ng-change="search()" ng-model="searchValue" required="required" placeholder="search">
	</div>
	<div class="row" ng-repeat="photo in photos track by $index">
		<figure>
			<a ng-href="/flickr/image/{{ $index }}" title="View Details">
				<img src="{{ photo.media.m }}" alt="{{ photo.title }}" />
			</a>
		</figure>
		<div class="info-box">
			<h2><a ng-href="/flickr/image/{{ $index }}" title="View Details">{{ photo.title| limitTo : 45 : 0 }}</a></h2>
			<div class="meta-info">
				<div class="link">
					<a href="https://www.flickr.com/people/{{ photo.author_id }}" title="View Author Profile" target="_blank">Post Author</a>
				</div>
				<div class="date">
					Published: <time datetime="2011-01-12">{{ photo.date_taken | date : 'dd MMM yyyy' }} at {{ photo.date_taken | date : 'hh:mm' }}</time>
				</div>
				<div class="link">
					<a href="{{ photo.link }}" title="{{ photo.title }}" target="_blank">View on Flickr</a>
				</div>
			</div>
		</div>
	</div>
</div>