<div class="large-wrapper single-image" ng-controller="SingleController">
	<div class="btn">
		<a class="back" href="javascript:history.back()" title="Go Back to Search Results">Back</a>
	</div>
	<h1>
		<a href="{{ img.link }}" title="Open {{ img.title }}" target="_blank">{{ img.title }}</a>
	</h1>
	<div class="meta-info">
		<div class="link">
			<a href="https://www.flickr.com/people/{{ img.author_id }}" title="View Author Profile" target="_blank">Post Author</a> |
		</div>
		<div class="date">
			Published: <time datetime="2011-01-12">{{ img.date_taken | date : 'dd MMM yyyy' }} at {{ img.date_taken | date : 'hh:mm' }}</time>
		</div>
	</div>
	<div class="row">
		<figure>
			<img src="{{ img.media.m }}" alt="{{ img.title }}" />
		</figure>
		<div class="info-box">
			<div class="story" ng-bind-html="desc"></div>
			<div class="tags">
				Tags:
				<a ng-repeat="tag in tagList" ng-href="/flickr/?keyword={{ tag }}" title="View results by {{ tag }}">{{ tag }}</a>
			</div>
		</div>
	</div>
</div>